<app-navbar></app-navbar>
<!-- <div class="main1">

    <marquee behavior="scroll" direction="left" style="font-weight: bold;">Welcome to the Admin part of the portal.Did you know Indian railways employ 1.4 millions employees and it is also the largest employer in India</marquee>
  
      <br><br><br><br>
  
      <br>
      <br>
  
  
      <br>
      <br>
      <br>
      <br>
  
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br><br>
      <br> 
        <!-- <div class="container">
          <div class="custom-card">
            <h5 class="card-header text-center">Register Form</h5>
      <div class="card-body">
       
       
      </div>
          </div>
        </div> -->
        <!-- <div class="card">
            <div class="card-content">
              <h2>Card Title</h2>
              <p>Card content goes here.</p>
            </div>
          </div>
          
  </div> -->
   
<body>
  <div class="bg">
  <div class="container">
      <div class="header">
          <h1><b>Hello {{name}}</b></h1>
          <p></p>
          <h2>Welcome to the Admin Portal</h2>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
     <br>
     <br>

  </div>
</div>
</body>

